<p>Name: <%= @user.name %> </p>



<h1> Events Created </h1>


<table>
    <tbody>
        <%= render 'createdevents' %>
    </tbody>
</table>
<br>
<hr>
<br>

<h1> Events Attended </h1>


<table>
    <thead>
        <tr>

            <p>
                <th style='padding-bottom: 15px'>Upcoming Events</th>
            </p>
        </tr>
    </thead>

    <tbody>
    <tbody>
        <% @events.each do |x| %>
        <%=upcoming_events(x)%>
        <%end%>
    </tbody>
</table>
<br>
<hr>
<br>

<table>
    <thead>
        <tr>
            <th style='padding-bottom: 15px'>Past Events</th>
        </tr>
    </thead>

    <tbody>
        <% @events.each do |x| %>
        <%=past_events(x) %>
        <%end%>

    </tbody>
</table>