<p>Name: <%= @user.name %> </p>

<h1> Events Attended </h1>


<table>
    <thead>
        <tr>

            <p>
                <th style='padding-bottom: 15px'>Upcoming Events</th>
            </p>
        </tr>
    </thead>

    <tbody>
        <%= render 'upcoming_events' %>
    </tbody>
</table>
<br>
<hr>
<br>

<table>
    <thead>
        <tr>
            <th style='padding-bottom: 15px'>Past Events</th>
        </tr>
    </thead>

    <tbody>
        <%= render 'past_events' %>
    </tbody>
</table>