  <td style='padding-left:25px'><%= link_to '<button type="button">Attend</button>'.html_safe,
      attendances_path(attendee_id: session[:user_id],attended_event_id: variable1.id),method: :create  %> </td>